<div class="custom-container">
  <label>Project</label>
  <div class="input-group">
    <span class="input-group-addon">Name</span>
    {{input type="text" value=id class='form-control'}}
  </div>

  <button class="btn btn-success edit-model" {{action 'save'}}>Done</button>
</div>