<div class="custom-container">
  <label>Project</label>
  <div class="input-group">
    <span class="input-group-addon">Name</span>
    {{input type="text" value=name class='form-control'}}
  </div>

  <button class="btn btn-success edit-model" {{action 'save'}}>Done</button>
  <button class="btn btn-danger" {{action 'delete'}}>Delete</button>

  <div class="panel panel-default mts">
    <div class="panel-heading">
      <h3 class="panel-title">Contact List</h3>
    </div>
    <div class="panel-body">
      <ol>
        {{#each contact_list}}
          <li>
            {{this}}
          </li>
        {{/each}}
      </ol>
    </div>
  </div>
</div>